@()(implicit request: RequestHeader)

@main("Login") {
  <h2> Login </h2>

<form method ="post" action="validateLogin">
    <br>
    Username: <input type="text" name="username"></input>
    <br>
    Password: <input type="text" name="password"></input>
    <br>
    <input type="submit"></input>
    <br>
</form>

<form method ="post" action="validateLogin">
    <br>
    Username: <input type="text" name="username"></input>
    <br>
    Password: <input type="text" name="password"></input>
    <br>
    <input type="submit"></input>
    <br>
</form>

<form action="@routes.UserController.validateLogin()" method="POST">
    @helper.CSRF.formField
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" class="btn">Login</button>
</form>

<p>Don't have an account? <a href="@routes.UserController.registerPage()">Register here</a></p>




}