@()

@main("Login") {
  <h2> Login </h2>

<form method ="get" action="validateLogin">
    <br>
    Username: <input type="text" name="username"></input>
    <br>
    Password: <input type="text" name="password"></input>
    <br>
    <input type="submit"></input>
    <br>
</form>

<form method ="get" action="validateLogin">
    <br>
    Username: <input type="text" name="username"></input>
    <br>
    Password: <input type="text" name="password"></input>
    <br>
    <input type="submit"></input>
    <br>
</form>



}